spring:
  application:
    name: mail-service
mail:
  sender:
    address: ${MAIL_ADDRESS}
    password: ${MAIL_PASSWORD}
  server:
    host: ${MAIL_SERVER_HOST}
    port: ${MAIL_SERVER_PORT}

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8765/eureka}
